<%= form_with model: forecast do |form| %>
    <div class="col-md-12 justify-content-center">

    <div class="row mb-3">
        <%= form.label "Capacidad de la batería", class: 'col-sm-6 col-form-label' %>
        <div class="col-sm-6">
            <%= form.number_field :battery_capacity, step: 0.01, class: 'form-control' %>
        </div>
        <% @forecast.errors.full_messages_for(:battery_capacity).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div class="row mb-3">
        <%= form.label "Nivel de batería inicial", class: 'col-sm-6 col-form-label' %>
        <div class="col-sm-6">
            <%= form.number_field :battery_level_at_the_beginning, step: 1, class: 'form-control' %>
        </div>
        <% @forecast.errors.full_messages_for(:battery_level_at_the_beginning).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    
    <div class="row mb-3">
        <%= form.label "Nivel de batería final", class: 'col-sm-6 col-form-label' %>
        <div class="col-sm-6">
            <%= form.number_field :battery_level_at_the_end, step: 1, class: 'form-control' %>
        </div>
        <% @forecast.errors.full_messages_for(:battery_level_at_the_end).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    
    <div class="row mb-3">
        <%= form.label "Potencia media del punto de recarga", class: 'col-sm-6 col-form-label' %>
        <div class="col-sm-6">
            <%= form.number_field :power_output, step: 0.01, class: 'form-control' %>
        </div>
        <% @forecast.errors.full_messages_for(:power_output).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    
    <div class="row mb-3">
        <%= form.label "Duración de la recarga", class: 'col-sm-6 col-form-label' %>
        <div class="col-sm-6">
            <%= form.time_field :elapsed, class: 'form-control' %>
        </div>
        <% @forecast.errors.full_messages_for(:elapsed).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    
    <div>
        <%= form.submit class: 'btn btn-primary' %>
    </div>

    </div>
<% end %>
